<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.storyplayr.cordova.crypto"
        version="0.0.1">

  <name>Crypto</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!-- indique à cordova ce qu'il faut faire pour le build -->
  <asset src="www/crypto.js" target="js/crypto.js"/>

  <js-module src="www/crypto.js" name="crypto">
    <clobbers target="storyplayrcrypto" /> <!-- indique la variable d'acces au plugin -->
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Crypto">
        <param name="android-package" value="com.storyplayr.cordova.CryptoPlugin"/>
      </feature>
    </config-file>

	<!-- indique à cordova ce qu'il faut faire pour le build -->
    <source-file src="src/android/src/com/storyplayr/cordova/CryptoPlugin.java" target-dir="src/com/storyplayr/cordova/"/>
    <source-file src="src/android/src/com/storyplayr/cordova/CryptoException.java" target-dir="src/com/storyplayr/cordova/"    />
    <source-file src="src/android/src/com/storyplayr/cordova/Crypto.java" target-dir="src/com/storyplayr/cordova/"/>
    
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Crypto">
        <param name="ios-package" value="Crypto"/>
      </feature>
    </config-file>
    
    <framework src="Foundation.framework" />
    <framework src="Security.framework" />
    
    <source-file src="src/ios/Crypto.m"/>
    <header-file src="src/ios/Crypto.h"/>
    <header-file src="src/ios/RNCryptor/RNCryptor+Private.h" />
    <header-file src="src/ios/RNCryptor/RNCryptor-Prefix.pch" />
    <header-file src="src/ios/RNCryptor/RNCryptor.h" />
    <source-file src="src/ios/RNCryptor/RNCryptor.m" />
    <header-file src="src/ios/RNCryptor/RNCryptorEngine.h" />
    <source-file src="src/ios/RNCryptor/RNCryptorEngine.m" />
    <header-file src="src/ios/RNCryptor/RNDecryptor.h" />
    <source-file src="src/ios/RNCryptor/RNDecryptor.m" />
    <header-file src="src/ios/RNCryptor/RNEncryptor.h" />
    <source-file src="src/ios/RNCryptor/RNEncryptor.m" />
  </platform>

</plugin>